.bg-light-90{
    background-color: #e1e6ea !important;
}

.bg-light-70{
    background-color: #f0f2f5 !important;
}

.bg-editor{
    background-color: #ccebff !important;
}

.textarea-non-resize{
    resize: none;
}

.template{
    display: none !important;
}

.flowy-element{
    cursor: pointer;
    width: 310px;
    display: inline-block;
}

.flowy-element-text {
    width: 220px;
}

.flowy-element-text div {
    font-weight: 500;
}

.flowy-element-text p {
    line-height: 20px;
}

.mandatory-fields-badge{
    align-self: baseline;
    margin-left: 10px;
}

.mandatory-fields-badge-main{
    float: right
}

.block-text{
    text-align: justify;
}

.open-editor-icon{
    position: relative;
    left: -20px;
    cursor: pointer;
}

#code-display{
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

#ace-editor{
    height: 600px;
    border: 1px solid #aaa
}

.code-editor-tips-col{
    border: 1px solid #aaa
}